                <meta charset="utf-8" emacsmode="-*- markdown -*-"><link rel="stylesheet" href="test.css">
                            **Projects**
[cuda path tracer](https://bitbucket.org/dannef/cuda_path_tracer/src/master/)	 [photon mapper](https://bitbucket.org/dannef/cuda_path_tracer/src/master/)	
						

[journal](newsmag.md.html)

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js?" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>

